body {
    background: #151d21;
    background-image: url("../assets/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: "roboto";
}
hr {
    color: dimgray;
}
table {
    border-collapse: collapse;
    border: 1px solid aquamarine;
}
table td {
    border: 1px solid aquamarine;
    color: red;
}
