@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
    margin: 0;
    padding: 0;
    font-family: "roboto";
}
html {
    scroll-behavior: smooth;
}
body {
    background: #151d21;
    background-image: url("../assets/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    margin-left: 42px;
    margin-top: 42px;
}
p {
    font-size: large;
}
a {
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    color: #ff7a7a;
}
ul {
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
}
