td {
    border: 2px solid black;
    background-color: aliceblue;
    color: black;
}
th {
    border: 2px solid black;
    background-color: aliceblue;
    color: black;
}
body {
    background-color: #151d21;
}
table {
    border-collapse: separate;
    border: 2px solid black;
    width: 50%;
    background-color: cyan;
}
